/*demo header*/
.sticky-demo-header {}

.sticky-demo-header .demo-header {
    background: #fff;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    line-height: 4rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.sticky-demo-header #header{
    top: 40px;
}

.restore-wrapper {
    display: flex;
}

.restore-wrapper>a {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}

.restore-wrapper .restore__counter {
    padding: 0px 8px;
    font-size: 1rem;
    color: var(--first-color);
    margin: 0.10rem 0;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 4px;
}

.restore__progress {
    display: flex;
    height: 4px;
    width: 100%;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 2rem;
    margin: 0.25rem 0;
    max-width: 96px;

}

.restore__progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: var(--first-color);
    transition: width 0.6s ease;
}

.restore-wrapper .restore__content {
    font-size: 0.675rem;
    color: var(--body-color);
    font-weight: 600;
    margin-bottom: 0.25rem;

    line-height: 1.5;
}

.switch-interface {
    display: flex;

}

.switch-interface li {
    margin: 0 1rem;
    display: flex;
}

.switch-interface li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-interface li.is-active a:before,
.switch-interface li a:hover:before {
    height: 2px;
    background: var(--first-color);
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
}

.switch-interface .icn svg {
    width: 2rem;
    height: 2rem;
    fill: #8c8c8c;
}

.switch-interface li.is-active .icn svg,
.switch-interface li a:hover .icn svg {
    fill: var(--first-color);
}

.demo-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.demo-cta .close-layer {
    position: relative;
    right: auto;
    top: auto;
    margin-inline-start: 1rem;
}

.restore-demo-bg {   
    background-image: url('../images/catalog-bg.png') !important;
    background-color: #fff !important;
    background-repeat: no-repeat !important;
    background-position: 130% top !important;
}
.restore-demo .demo-data-inner>ul,
	.restore-demo .demo-data-inner .heading {
		max-width: 500px;
		margin-right: 250px;
	}

	.demo-data-inner {
		margin: 20px;
		color: #4c4c4c;
	}

	.demo-data-inner .heading {
		font-size: 4rem;
		font-weight: 600;
		text-transform: uppercase;
		position: relative;
		line-height: 1.2;
		margin-bottom: 40px;
		color: inherit;
	}

	.demo-data-inner .heading:after {
		background: var(--second-color);
		width: 60px;
		height: 3px;
		position: absolute;
		bottom: -10px;
		content: "";
		display: block;
	}

	.demo-data-inner .heading span {
		display: block;
		font-size: 0.8rem;
		text-transform: none;
	}

	.demo-data-inner ul li {
		position: relative;
		margin: 10px 0;
		padding: 0 15px;
		display: block;
		font-size: 0.9rem;
	}

	.demo-data-inner ul li:before {
		width: 5px;
		height: 5px;
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 8px;
		transform: rotate(45deg);
		background: #4c4c4c;
	}

	.demo-data-inner ul ul {
		margin-inline-start: 15px;
		margin-bottom: 20px;
	}

	@media(max-width:1200px) {
		.sticky-demo-header .sidebar {
			top: 60px;
		}

		.sticky-demo-header header#header-dashboard {
			top: 60px;
		}
	}

	@media(max-width:767px) {

		.demo-header {
			display: none;
		}
	}

	.-fixed-wrap {
		position: fixed;
		bottom: 1rem;
		left: 1rem;
		z-index: 9999;
	}

	.-fixed-wrap a {
		position: relative;
		display: inline-block;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border: none;
		border-radius: 2px;
		padding: 2.25rem 1rem 0.5rem;
		vertical-align: middle;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		text-align: center;
		text-overflow: ellipsis;
		text-transform: uppercase;
		color: #fff;
		background: #666;
		text-decoration: none;
		font-size: 2rem;
		letter-spacing: 0.15em;
		overflow: hidden;
		min-width: 200px;
	}

	.-fixed-wrap a small {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: block;
		padding: 0.5rem 1rem;
		font-size: 0.75rem;
		letter-spacing: 0.05em;
		white-space: nowrap;
		background-color: rgba(0, 0, 0, 0.2);
	}